<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
   http://www.springframework.org/schema/mvc
   http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.ssm.controller"/>
    <!--加载mvc驱动-->
    <mvc:annotation-driven/>
    <!--排除静态文件用的：jqueryjs 这些文件核心控制器不处理-->
    <mvc:default-servlet-handler/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <!--前缀和后缀，约定，路径的是info 默认就去/module/info.jsp-->
        <property name="prefix" value="/module/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <mvc:interceptors>
        <!--拦截链是按照声明顺序来的，谁先声明谁先拦截；拦截偶有的请求-->
        <bean class="com.ssm.inter.MyInterceptor1"/>
        <!--单一的拦截器配置，可以限定拦截路径也可以配置排除路径-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/order/login"/>
            <bean class="com.ssm.inter.LoginInter"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设定默认编码 -->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!-- 设定文件上传的最大值为5MB，5*1024*1024 -->
        <property name="maxUploadSize" value="5242880"></property>
    </bean>
</beans>