<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.TabFileMapper">
    <resultMap id="BaseResultMap" type="com.ssm.entity.TabFile">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="fileid" jdbcType="INTEGER" property="fileid"/>
        <result column="filename" jdbcType="VARCHAR" property="filename"/>
        <result column="fileurl" jdbcType="VARCHAR" property="fileurl"/>
    </resultMap>
</mapper>